body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table{
    height: 700px;
    width: 700px;
    border: 7px solid black;
    border-spacing: 0px;
    position: relative;
    z-index:0;
}
td{
    width: 60px;
    height: 60px;
    text-align: center;
    border: 2px double rgba(14, 11, 11, 0.26);
}
img{
    width: 55px;
    height: 55px;
}

tr:nth-child(odd) td:nth-child(even),tr:nth-child(even) td:nth-child(odd)
{
    background: rgba(0, 0, 0, 0.699);
}
tr:nth-child(odd) td:nth-child(even):hover,tr:nth-child(even) td:nth-child(odd):hover,td:hover{
    background: gray;
}
/* The alert message box */
.alert {
    position: absolute;
    padding: 30px;
    background-color: #4c73a0; /* Red */
    color: white;
    margin-bottom: 15px;
    z-index: 1;
    white-space: nowrap;
    vertical-align: middle;
  }
  
  /* The close button */
  .closebtn {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  .alerttxt{
    display: inline-block; vertical-align: middle;
  }
  